.site-title {
    font-size: 150px;
    font-family: $secondary-font;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 126px;
}